modbus:
    modbus_type: tcp
    method: rtu
    port: 5020
    stopbits: 1
    bytesize: 8
    parity: E
    baudrate: 19200
    ip: 127.0.0.1
    OFFSET_REGISTERS: 0
    UNIT_ID: 0x1
    byte_order: big
    word_order: little
    #registers: {signal_strength:[0,32int]}
    registers: {signal_strength:[100,32float],temperature:[102,32float],test_count:[102,32int]}
    #registers: {signal_strength:[0,32float],flow_rate:[2,32float],net_total:[4,32float],positive_totalizer:[6,32float],negative_totalizer:[8,32float],temp1:[10,32float]}
